*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild



# -------------------------------
# Intellij
# -------------------------------

*.iml
*.iws

**/.idea/


**/google-services.json
**/*.jar
auth/src/main/res/values/config.xml